html {
	height: 100%;
}

body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: inherit;
}

main {
	flex: 1;
}

/*Container for Sections*/
main > div {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

main > div > section {
	padding: 1em;
}

main > div > section:nth-child(1) {
	flex-basis: 240px;
}

main > div > section:nth-child(2) {
	flex: 1;
	background-color: #eee;
}

main > div > section:nth-child(3) {
 flex-basis: 180px;
 flex-shrink: 0;
}

/*Container for Cards*/
main > div > section > div.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*Individual Cards*/
main > div > section > div.cards > div {
	flex: 0 0 250px;
	background-color: white;
	margin: .5rem;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

/*Paragraph in each Card*/
main > div > section > div.cards > div > p {
	padding: .5rem 1rem;
}